<p class="customer">
  <%= Spree.t(:dear_customer, :default => Spree.t("store_dear"), :name => @order.bill_address ? @order.bill_address.full_name : Spree.t("customer") ) %>
</p>
<p class="overview">
  <%= Spree.t('cancel_email.instructions') %>
</p>
<p class="link">
  <%= Spree.t("email_full_details_link")%>
  <%= link_to(order_url(@order, :host => Spree::Config[:site_url]), order_url(@order, :host => Spree::Config[:site_url])) %>
</p>
<h1>
  <%= Spree.t("order_summary")%>
</h1>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @order} %>
<p class="thank-you">
  <%=Spree.t("order_mailer.confirm_email.thanks")%>
</p>